.footer{
    margin-top:60px;
    padding:30px 20px;

    text-align:center;

    background:#F1F5F9;

    border-top:1px solid #E2E8F0;

    color:#64748B;
}

.footer p{
    margin:0;
    font-size:16px;
    font-weight:500;
}

.footer small{
    display:block;
    margin-top:8px;
    font-size:14px;
}